.navbar {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50px;
    top: 0px;
    right: 50px;
    height: 100px;
    text-decoration: none;
    font-weight: bold;
}
.menu {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-decoration: none;
}
a {
    margin-right: 19px;
    text-decoration: none;
    color: white;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 100px;
}
h2 {
    font-family: 'Economica', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/bgr1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    flex-direction: column;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.ordertitel {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}
.order {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.noodle {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Economica', sans-serif;
}
.broth {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Economica', sans-serif;
}
.toppings {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Economica', sans-serif;
}
.menutitel {
    display: flex;
    justify-content: center;
    font-family: 'Economica', sans-serif;
}
.gerichte {
    display: flex;
    justify-content: center;
}
.menubackground {
    display: flex;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    flex-direction: column;
    height: auto;
}
.tonkasu {
    display: flex;
    justify-content: space-around;
    font-family: Economica, sans-serif;
    font-size: 20px;
}
.table {
    display: flex;
    justify-content: right;
    margin-left: 50px;
}
.table1 {
    display: flex;
    justify-content: left;
    margin-left: 50px;
}
.table2 {
    display: flex;
    justify-content: right;
    margin-left: 50px;
}
.tablebild {
    display: flex;
    justify-content: left;
}
.tablebild2 {
    display: flex;
    justify-content: right;
}
.tablebild3 {
    display: flex;
    justify-content: left;
}
.findus {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.headline {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.adresse {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: raleway, sans-serif;
    margin-block-end: 50px;
}